# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FirstFullGame.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\FirstFullGame\.idea\.idea.FirstFullGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
